---
layout: default
title: Jake Gavin
permalink: /index.html
---

<div id="post">
  <h1 class="pageTitle">Recent Posts</h1>
  <ul class="posts noList">
    {% for post in site.posts limit:5 %}
      <li>
        <span class="date">{{ post.date | date: '%B %-d, %Y' }}</span>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
</div>
