---
layout: default
title: Jake Gavin
permalink: /index.html
---

<div id="home" class="home">
  <h3 class="pageTitle">Hi, I'm Jake</h3>
  <div class="posts">
    <p class="description">I am a Ruby and JavaScript developer at
      <a href="https://get.planningcenteronline.com">Planning Center Online</a> in Seattle, WA.
      I am currently on the
      <a href="https://get.planningcenteronline.com/check-ins" target="_blank">Check-Ins</a> and
      <a href="https://get.planningcenteronline.com/resources" target="_blank">Resources</a> teams.
      When it's nice outside, I enjoy biking, kayaking, skiing, and climbing.
    </p>
  </div>

  <!---
  <h3 class="pageTitle">Recent Posts</h3>
  <ul class="posts noList">
    {% for post in site.posts limit:5 %}
      <li>
        <span class="date">{{ post.date | date: '%B %-d, %Y' }}</span>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  --->
</div>
